# 함수의 응용

## map

### map(function,iterable)

순회 가능한 데이터구조(iterable)의 모든 요소에 함수(function)을 적용하고, 그 결과를  map object로 반환

In [5]:
def my_magic_func(n) :
    return n * 10

my_list = [1,2,3,4,5]

rslt = map(my_magic_func , my_list)
print(rslt)

<map object at 0x000001E98AED1670>

<map object at 0x000001E98AED1670 이런 식으로 나온다.
my_list라는 리스트를 기초로 했지만,  rslt에 대한 자료형은 정의되지 않았기 때문.
rslt를 리스트로 형변환 해주면 된다.

In [7]:
def my_magic_func(n) :
    return n * 10

my_list = [1,2,3,4,5]

rslt = map(my_magic_func , my_list)
print(list(rslt))

[10, 20, 30, 40, 50]

### map 활용 사례

* 알고리즘 문제 풀이시 input값들을 숫자로 바로 활용하고 싶을 때.

In [8]:
n , m = map(int, input().split())
print(n,m)
print(type(n),type(m))

214 334
214 334
<class 'int'> <class 'int'>

## filter

### filter(function, iterable)

순회 가능한 데이터구조(iterable)의 모든 요소에 함수(function)을 적용하고, 그 결과가 True인 것들을 filter object로 반환

In [11]:
def odd(n):
    return n%2
numbers = [_ for _ in range(10)]
result = filter(odd,numbers)
print(result,type(result))
# <filter object at 0x000001E98AFF0D00> <class 'filter'>

print(list(result)) #[1,3]
# 리스트 형변환을 통해 결과 직접 확인

<filter object at 0x000001E98AEE1DC0> <class 'filter'>
[1, 3, 5, 7, 9]

## zip

### zip(*iterables)

복수의 순회 가능한 데이터구조(iterable)을 모아 튜플을 원소로 하는 zip object를 반환

In [15]:
name_list = ['신동민','서재현','박영서','이태성','정예원','이은석']
age_list = [17, 18, 22, 24, 25, 19]

for each in zip(name_list,age_list):
    print(each)
    
for name, age in zip(name_list,age_list):
    print(name, age)

('신동민', 17)
('서재현', 18)
('박영서', 22)
('이태성', 24)
('정예원', 25)
('이은석', 19)
신동민 17
서재현 18
박영서 22
이태성 24
정예원 25
이은석 19

## lambda 함수

### lambda [parameter] : 표현식

#### 람다함수
* 표현식을 계싼한 결과값을 반환하는 함수로, 이름이 없는 함수여서 익명 함수라고도 불린다.

#### 특징
* return문을 가질 수 없다.
* 간편 조건문 외 조건문이나 반복문을 가질 수 없다.

#### 장점
* 함수를 정의해서 사용하는 것보다 간결하게 사용 가능하다.
* def를 사용할 수 없는 곳에서도 사용가능하다.

In [28]:
def mult_ten(n) :
    return n * 10

map_obj = map(mult_ten,[i for i in range(1,10)])
rlt = list(map_obj)
print(rlt)

# 간단한건데, 잉 귀찮아.

[10, 20, 30, 40, 50, 60, 70, 80, 90]

### lambda [parameter] : 매개변수를 이용한 리턴값

In [29]:
#def mult_ten(n) :
#   return n * 10 날림

map_obj = map(lambda n : n * 10 ,[i for i in range(1,10)])
rlt = list(map_obj)
print(rlt)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

## 재귀 함수(recursive function)

자기 자신을 호출하는 함수

무한한 호출을 목표로 하는 건 X , 알고리즘 설계 및 구현에서 유용하게 활용.
* 알고리즘 중 재귀 함수로 로직을 표현하기 쉬운 경우가 있음(ex - 점화식)
* 변수의 사용이 줄어들며, 코드의 가독성이 높아짐.

1개 이상의 base case(종료되는 상황)가 존재하고, 수렴하도록 작성해야 한다.(안하면 에러 터진다)

In [1]:
'''
def recur():
    print('a')
    recur()
recur()
''' # 주피터 죽어서 주석처리함.

"\ndef recur():\n    print('a')\n    recur()\nrecur()\n"

In [6]:
def factorial(n) :
    if n == 0 or n == 1:
        return 1
    else :
        return n * factorial(n-1)
print(factorial(5))

# 5!
# 5 * 4!
# 5 * 4 * 3!
# 5 * 4 * 3 * 2!
# 5 * 4 * 3 * 2 * 1!
# 5 * 4 * 3 * 2 * 1

# f(5)
# 5 * f(4)
# 5 * 4 * f(3)
# 5 * 4 * 3 * f(2)
# 5 * 4 * 3 * 2 * f(1)
# 5 * 4 * 3 * 2 * 1

120

### 재귀는 이해하기 어렵다.

재귀하는 느낌이 들면 종이를 꺼내 base case까지 계산해서 어떻게 되는지 본다.

# 패킹 언패킹

In [8]:
# 패킹 / 언패킹   *

x , y = 1 , 2
z = 1 , 2 , 3

print(z)

(1, 2, 3)

In [17]:
# 패킹
# a, b = 1, 2, 3, 4 에러남

a, *b = 1, 2, 3, 4
print(a, b)
c,d,*e = 5,6,7,8
print(c,d,e)

1 [2, 3, 4]
5 6 [7, 8]

In [16]:
def my_sum(a,b,c) :
    return a + b + c
num_list = [10, 20, 30]

# rlt = my_sum(num_list[0], num_list[1], num_list[2])
rlt = my_sum(*num_list)
print(rlt)

# 주석처리한 부분, 그리고 그 밑부분은 완전히 똑같다.

60

In [22]:
def test(*values):
    for value in values :
        print(value)
        
test(1)
test(1,2)
test(1,2,3,4)
lst = [1, 2, 3, 4]
tup = (1,2,3,4)
test(lst)
test(tup)

1
1
2
1
2
3
4
[1, 2, 3, 4]
(1, 2, 3, 4)

In [27]:
def my_sum(*args) :
    rlt = 0
    for value in args:
        rlt += value
    return rlt
my_sum(0) # 0
my_sum(1,2,3,4)

10

In [31]:
def test(**kwargs):
    print(kwargs,type(kwargs))
    kwname = kwargs['name']
    return kwname

test(name = 'aiden', age = 21, music = 'IU')

{'name': 'aiden', 'age': 21, 'music': 'IU'} <class 'dict'>

'aiden'

In [32]:
def test(*args, **kwargs):
    print(kwargs,type(kwargs))
    kwname = kwargs['name']
    return kwname

test(1,2,3,4,5,name = 'aiden', age = 21, music = 'IU')

{'name': 'aiden', 'age': 21, 'music': 'IU'} <class 'dict'>

'aiden'