# 절대값을 표현하는 식

In [5]:
num = -4
value = num if num >=0 else -num
print(value)

4

# 조건표현식 실습문제

## 1

In [6]:
num = 2
if num % 2 :
    result = '홀수입니다'
else :
    result = '짝수입니다.'
print(result)

짝수입니다.

In [7]:
num = 2
result = '홀수입니다' if num % 2 else '짝수입니다'
print(result)

짝수입니다

## 2

In [8]:
num = -5
value =num if num >=0 else 0
print(value)

0

In [9]:
num = -5
if num >=0 :
    value = num
else :
    value = 0
print(value)

0

# For

## 문자열 순회

In [10]:
for fruit in ['apple','banana','mango'] :
    print(fruit)
print('끝')

apple
banana
mango
끝

In [12]:
chars = input()
for words in chars :
    print(words)

ssafy
s
s
a
f
y

## range활용

In [13]:
chars = input()
for i in range(len(chars)):
    print(chars[i])

ssafy
s
s
a
f
y

## 딕셔너리(dictionary) 순회

딕셔너리는 기본적으로 key를 순회하며 key를 통해 값을 활용한다.

In [14]:
grades = {'john' : 80, 'eric' : 90}
for students in grades :
    print(students)

john
eric

In [18]:
grades = {'john' : 80, 'eric' : 90}
for students in grades :
    print(students, grades[students])

john 80
eric 90

## 추가 메서드를 활용한 딕셔너리 순회

추가 메서드를 활용하여 순회할 수 있다.
* keys() : Key로 구성된 결과
* values() : value로 구성된 결과
* items() : (Key,values)의 튜플로 구성된 결과

In [19]:
grades = {'john' : 80, 'eric' : 90}
print(grades.keys())
print(grades.values())
print(grades.items())

dict_keys(['john', 'eric'])
dict_values([80, 90])
dict_items([('john', 80), ('eric', 90)])

In [20]:
grades = {'john' : 80, 'eric' : 90}
for student, grade in grades.items():
    print(student, grade)

john 80
eric 90

## Enumerate 순회 <몰라도 된다>

enumerate()
* 인덱스와 객체를 쌍으로 담은 열거형(enumerate) 객체 반환
* (index,value)형태의 튜플로 구성된 열거 객체를 반환

In [23]:
members = ['민수','영희','철수']

for idx,number in enumerate(members):
    print(idx,number)

0 민수
1 영희
2 철수

In [24]:
members = ['민수','영희','철수']

for i in enumerate(members):
    print(i)

(0, '민수')
(1, '영희')
(2, '철수')

In [25]:
members = ['민수','영희','철수']
enmem=enumerate(members)
print(list(enumerate(members)))
print(list(enumerate(members,start=1)))

[(0, '민수'), (1, '영희'), (2, '철수')]
[(1, '민수'), (2, '영희'), (3, '철수')]

기본값은 0, start를 지정하면 해당 값부터 순차적으로 증가

## List Comprehension

표현식과 제어문을 통해 특정한 값으 가진 리스트를 간결하게 생성하는 방법

[code for 변수 in iterable]
[code for 변수 in iterable if 조건식]

In [26]:
# 1~3의 세제곱 리스트 만들기 
# 일반 for 문

cubic_list = []
for num in range(1,4):
    cubic_list.append(num ** 3)
print(cubic_list)

[1, 8, 27]

In [28]:
# List Comprehension

cubic_list = [num ** 3 for num in range(1,4)]
print(cubic_list)

# cubic_list라는 list에는 num 의 세제곱 값이 들어갈 것이다.
# num은 1~3까지 순회하는 수다.
# 첫 순회때 num은 1 이므로 첫 인덱스는 1
# 두번째 때 num은 2 이므로 두번째 인덱스는 8
# 세번째 때 num은 3 이므로 세번째 인덱스는 27

[1, 8, 27]

## Dictionary Comprehension

표현식과 제어문을 통해 특정한 값을 가진 딕셔너리를 간결하게 생성할 수 있다.

{key : value for 변수 in iterable}
{key : value for 변수 in iterable if 조건식}

In [30]:
# 1~3의 세제곱 딕셔너리 만들기

cubic_dict = {}
for num in range(1,4):
    cubic_dict[num] = num ** 3
print(cubic_dict)

{1: 1, 2: 8, 3: 27}

In [31]:
cubic_dict = {num : num ** 3 for num in range(1,4)}
print(cubic_dict)

{1: 1, 2: 8, 3: 27}

## 반복문 제어

* break
 * 반복문을 종료

* continue
 * continue 이후의 코드 블록은 수행하지 않고, 다음 반복을 수행

* for-else
 * 끝까지 반복문을 실행한 이후에 else문 실행
  * break를 통해 중간에 종료되는 경우 else문은 실행되지 않음

* pass
 * 아무것도 하지 않음(문법적으로 필요하지만, 할 일이 없을 때 사용한다.)

### break

In [3]:
n = 0
while True :
    if n == 3:
        break
    print(n)
    n += 1

0
1
2

In [2]:
for i in range(10):
    if i >1 :
        print('0과 1만 필요해')
        break
    print(i)

0
1
0과 1만 필요해

### continue

continue 이후의 코드 블록은 수행하지 않고, 다음 반복을 수행

In [4]:
for i in range(6):
    if i % 2 == 0:
        continue
    print(i)

1
3
5

### pass

아무것도 하지 않는다.
* 특별히 할 일이 없을 때 자리를 채우는 용도로 사용
* 반복문 아니어도 사용 가능

In [5]:
for i in range(4) :
    if i ==2:
        pass
    print(i)

0
1
2
3

In [6]:
for i in range(4) :
    if i == 2:
        continue
    print(i)

0
1
3

### for-else

끝까지 반복문을 실행한 이후에 else문 실행

In [9]:
for char in 'apple':
    if char == 'b':
        print('b')
        break
else :
    print('b가 없습니다.')

b가 없습니다.

In [10]:
for char in 'banana':
    if char == 'b':
        print('b')
        break
else :
    print('b가 없습니다.')

b